*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

            /* Main styling classes */
 
.text-style{
    text-align: center;
    color: #E8F9FD;
    text-shadow: 4px 4px black;
}

.padding{
    padding: 2% 5% 0% 5%;
}

.font-comfortaa{
    font-family: 'Comfortaa', cursive;
}

            /* Temperature Card */

.row{
    padding-top:5%
}

.row > .temperature-card{
    margin:5% 0% 0% 2%;
    background-image: url(img/salonica-white-tower-hi\ \(1\).png);
    background-size: cover;
    opacity: 0.8;
    border-radius: 15%;
}
           
#location{
    font-size: 3rem;
}

.date{
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

#current-temp{
    font-family: 'Barlow', sans-serif;
    font-size: 7rem;
}

.celcious{
    font-family: 'Barlow', sans-serif;
    padding: 0% 2%;
    font-size: 3rem;
}

.temperature-details{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center; 
}

.temp-feeling{
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 2%;
    color: rgb(251, 251, 251);
    text-shadow: 2px 2px black;
    text-emphasis-color: black;
}

            /* Weather Details Card */

.row > .weather-details-card{
    border-radius: 10%;
}            





.weather-details-card, .forecast-info{
    margin-left: 0%;
    background-size: cover;
    padding-top: 5%;
    text-align: start;
    align-items: center;
    font-size: 1.4rem;
    text-shadow:1px 1px #000000;
}

ul, .main-part{
    background-color: #899197;
    border-radius: 15%;
    margin-bottom: 2%;
    list-style: none;
}

.btn{
    margin-bottom: 1%;
}

            /* Forecast Card */

.forecast-info{
    margin-left: 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center; 
}

.forecast-info > ul{
    font-size: 1.2rem;
    text-shadow: none;
} 
