html body{
    background-color: #bdd0c3 ;
}  

.projectTitle{
    text-align: center;
    color: #E8F9FD;
    font-family: 'Barlow', sans-serif;
}
/* Main styling classes */

.text-style {
    text-align: center;
    color: #E8F9FD;
    text-shadow: 4px 4px black;
}

.font-comfortaa {
    font-family: 'Comfortaa', cursive;
}

.transparent{
    background-color: transparent;
}

.card > .card-header{
    background-color: transparent;
    text-shadow: 2px 1px #0e0d0e ;
    border: none;
    text-align: center;
    color: #E8F9FD;
    font-size: 1.4rem;
}
/* Temperature Card */

.row > #temperature-card {
    background-size: cover;
}

#temperature-card > .card-header{
    text-align: center;
    color: #E8F9FD;
    text-shadow: 1px 1px black;
    font-weight: bold;
}

#location {
    font-size: 3rem;
}

.date {
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

#current-temp {
    font-family: 'Barlow', sans-serif;
    font-size: 7rem;
}

.celcious {
    font-family: 'Barlow', sans-serif;
    font-size: 3rem;
}

.temperature-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.temp-feeling {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(251, 251, 251);
    text-shadow: 2px 2px black;
    text-emphasis-color: black;
}

.card> .card-footer {
    text-align: center;
    background-color:transparent;
    border: none;
}
/* Weather Details Card */

.list-style {
    list-style: none;
}

.row > .weather-details-card {
    text-align: start;
    align-items: center;
    font-size: 1.4rem;
    text-shadow: 1px 1px #000000;
    background-color: #702b56;
}
/* Date Buttons */

#date-list > .btnList{
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
    border: none;
}
/* Forecast Card */

.row > .forecast-info {
    text-align: start;
    align-items: center;
    font-size: 1.4rem;
    text-shadow: 1px 1px #000000;
    background-color: #702b56;
}
/* Max Temperature Chart */

#chart{
    background-color:  #702b56;;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
}




